@import 'colors';

.search-filter {

    $block: &;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &__item {
        margin-right: 5px;
        font-weight: 800;
    }

    &__link {
        border-radius: 5px;
        padding: 10px;
        background-color: darken($bright-sun, 10%);
        color: $white;
        text-decoration: none;
        transition: background-color .25s;

        &--dimmed {
            background-color: grey;
            font-weight: normal;
        }

        &:hover,
        &--active {
            background-color: darken($persian-indigo, 5%);
        }
    }

    &__order {
        font-size: 14px;
        margin: 0 5px;
        padding: 5px;
        border: 1px solid grey;
        height: 30px;
        border-radius: 0;
    }
    
    .no-flex & {
        // fallbacks here
    }

}

// Remove on dropping support */
.lte-10 {
    .search-filter {
       // LTE10 tweaks here
    }
}