@import 'colors';

.search-results {

    $block: &;
    $bg-color: rgba(0,0,0,.05);

    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    background-color: darken($bg-color, 5%);
    opacity: 0;
    transform: translate3d(0,10px,0);
    transition: all .3s;

    &[aria-hidden='false'] {
        opacity: 1;
        transform: translate3d(0,0,0);
    }

    &__item {
        &:not(:last-child) {
            border-bottom: 1px solid darken($bg-color, 10%);
        }
    }

    &__item-link {
        padding: 10px 15px;
        line-height: 30px;
        display: block;
        text-decoration: none;
        color: $persian-indigo;
        transition: all .3s;
        
        &:hover {
            background-color: darken($bg-color, 10%);
        }
    }

}

// Remove on dropping support */
.lte-10 {
    .search-results {
       // LTE10 tweaks here
    }
}