@import 'mixins/media';

.app {
    max-width: 1000px;
    margin: 20px;

    @include medium {
        margin: 0 auto;
    }
}

// Remove on dropping support */
.lte-10 {
    .app{
       // LTE10 tweaks here
    }
}