@import 'mixins/media';

.app {
    max-width: 1000px;
    margin: 20px;

    @include medium {
        margin:0 auto;
        margin-left: 20px;
        margin-right: 20px;
    }
}

// Remove on dropping support */
.lte-10 {
    .app{
       // LTE10 tweaks here
    }
}