@import 'colors';
@import 'mixins/media';

.result-card {

    $block: &;
    display: block;
    width: 100%;
    border: 1px solid $persian-indigo; 
    border-radius: 5px;
    margin: 20px auto;

    @include medium {
        display: flex;
    }

    &__figure {
        display: block;
        flex-grow: 1;
        margin: 15px;

        @include medium {
            display: flex;
            flex-direction: row;

            .no-flex & {
                // do fallbacks here, floats or similar
            }
        }

    }

    &__figure-img {
        width: 100%;
        border-radius: 5px;

        @include medium {
            max-height: 150px;
            max-width: 250px;
        }
    }

    &__figure-title {
        margin-top: 5px;
        color: $persian-indigo;
    }

    &__figure-desc {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__figure-desc-stars {
        list-style: none;
        margin: 10px 0;
        padding: 0;

        li {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            border-radius: 3px;
            background-color: $bright-sun;
        }

        @for $i from 1 through 5 {
            &[data-stars='#{$i}'] li:nth-child(n+#{$i+1}) {
                background-color: rgba($bright-sun, .5);
            }
        }
    }

    &__figure-desc-rating {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__figure-caption {
        margin: 10px;

        @include medium {
            margin: 0 20px;
        }
    }

}

// Remove on dropping support */
.lte-10 {
    .result-card {
       // LTE10 tweaks here
    }
}