@import 'colors';

.search-component {

    $block: &;

    // vars
    $form-input-height: 60px;
    $form-input-padding: 10px;
    $form-input-border-color: rgba(0,0,0,.3);
    $form-font-size: 15px;

    // root
    max-width: 400px;
    margin: 0 auto;
    background-color: $white;

    &__form {
        width: 100%;
        margin: 0;
        border: 0;
    }

    &__form-control {
        display: flex;
        position: relative;
        
        &-label, 
        &-input,
        &-btn {
            font-size: $form-font-size;
            height: $form-input-height;
            box-sizing: border-box;
            border-radius: 8px;
        }

        &-label {
            transform: scale(.8,.8);
            color: rgba(0,0,0,.4);
            top: 1px;
            left: 8px;
            position: absolute;
        }

        &-input {
            border: 1px solid $form-input-border-color;
            padding: $form-input-padding;
            width: 100%;
            flex: 1;
            border: 3px solid rgba($persian-indigo, .2);

            &:focus {
                outline: none;
                border-color: $persian-indigo;
            }
        }

        &-btn {
            border: 1px solid $form-input-border-color;
            padding: $form-input-padding;
            min-width: 80px;
            .no-js & {
                display: block;
            }
        }

    }

}

// Remove on dropping support */
.lte-10 {
    .search-component {
       // LTE10 tweaks here
    }
}